/* login css */

.login-screen{
  background-image: url("/public/images/Wallpaper.png");
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.login-section {
  
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 60px;
}

.login-img {
  height: 200px;
}

.input {
  background-color: rgba(119, 118, 118, 0.5);
  border: none;
  border-radius: 20px;
  padding-left: 10px;
}

.checkbox {
  margin-right: 10px;
}

.button-login {
  background-color: rgb(51, 50, 50);
  color: white;
  border: none;
  border-radius: 20px;
  width: 58%;
  margin-top: 30px;
}

/* dashboard css */

.dashboard-screen {
  background-image: url("/public/images/Wallpaper.png");
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.header {
  background-color: rgba(255, 255, 255, 0.5);
}

header nav {
  text-align: right;
  margin-right: 20px;
}

header nav ul {
  list-style: none;
  padding: 10px;
}

header nav ul li {
  display: inline-block;
  margin-left: 20px;
}

/* Optional: Style the links */
header nav ul li a {
  text-decoration: none;
  color: #333;
}
.app-imgs {
  display: grid;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 15px;
  width: 8%;
  right: 20px;
  position: absolute;
}